In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [4]:
url_AMREST = 'https://www.bankier.pl/gielda/notowania/akcje/AMREST/komunikaty/'

In [34]:
def get_announcments(stock):
    i = 1
    stock_data = []
    while True:
        print(i)
        full_url = 'https://www.bankier.pl/gielda/notowania/akcje/' + stock + '/komunikaty/' + str(i)
        response = requests.get(full_url)
        soup = BeautifulSoup(response.text, features='html.parser')
        articles = soup.find_all('div', attrs={"class": "article"})
        if articles:
            for article in articles:
                title = article.find('a').text
                date = article.find('time').text
                stock_data.append([date, title])
            i += 1
        else:
            return pd.DataFrame(stock_data, columns=['Date', 'Announcement'])

In [35]:
amrest_announcements = get_announcments('AMREST')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68

In [44]:
financial_announcemetns_Amrest = amrest_announcements.where(amrest_announcements['Annoncement']=='Wyniki finansowe').dropna()

In [45]:
financial_announcemetns_Amrest

                 Date       Annoncement
4    2021-02-25 19:53  Wyniki finansowe
5    2021-02-25 19:51  Wyniki finansowe
12   2020-11-10 20:06  Wyniki finansowe
18   2020-09-24 23:04  Wyniki finansowe
19   2020-09-24 23:03  Wyniki finansowe
29   2020-05-15 19:33  Wyniki finansowe
38   2020-02-28 21:31  Wyniki finansowe
39   2020-02-28 21:27  Wyniki finansowe
50   2019-11-07 18:44  Wyniki finansowe
54   2019-08-28 17:47  Wyniki finansowe
55   2019-08-28 17:44  Wyniki finansowe
66   2019-05-08 17:19  Wyniki finansowe
77   2019-03-01 17:40  Wyniki finansowe
79   2019-02-28 23:35  Wyniki finansowe
80   2019-02-28 23:34  Wyniki finansowe
89   2018-11-15 17:42  Wyniki finansowe
110  2018-09-21 18:41  Wyniki finansowe
111  2018-09-21 18:38  Wyniki finansowe
143  2018-05-14 23:09  Wyniki finansowe
153  2018-03-08 21:50  Wyniki finansowe
154  2018-03-08 21:34  Wyniki finansowe
206  2017-11-21 17:26  Wyniki finansowe
261  2017-09-14 18:42  Wyniki finansowe
262  2017-09-14 18:24  Wyniki finansowe
360  2017-05-22 08:49  Wyniki finansowe
363  2017-05-18 17:12  Wyniki finansowe
434  2017-03-16 19:48  Wyniki finansowe
435  2017-03-16 19:45  Wyniki finansowe
536  2016-11-07 20:18  Wyniki finansowe
604  2016-08-12 00:30  Wyniki finansowe
605  2016-08-12 00:26  Wyniki finansowe
692  2016-04-29 00:04  Wyniki finansowe
699  2016-03-11 01:05  Wyniki finansowe
700  2016-03-11 00:52  Wyniki finansowe
749  2015-11-06 00:03  Wyniki finansowe
807  2015-08-13 19:44  Wyniki finansowe
808  2015-08-13 19:41  Wyniki finansowe
885  2015-05-08 00:04  Wyniki finansowe
925  2015-03-18 00:23  Wyniki finansowe
926  2015-03-18 00:21  Wyniki finansowe
988  2014-11-07 00:05  Wyniki finansowe